a,
a:hover,
a:active {
	color: #444;
	text-decoration: none;
}

/* Header */

#header {
	padding: 10px 0;
	background-color: #ededed;
}

#header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

	#header .nav-item {
		padding: 10px 15px;
		color: #444;
	}

	#header .nav-item:hover {
		color: #007bff;
	}

	#header .nav-item:last-child {
		background-color: #007bff;
		color: #fff;
	}

	#header .nav-item:last-child:hover {
		color: #fff;
	}

/* Main */

#main {
	padding-top: 30px;
}

#main .main-title {
	border-bottom: #ddd solid 1px;
	padding-bottom: 6px;
	font-size: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
}